 .projects h3{
    font-family: 'times new roman', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
 }
 .projects p{
    font-family: "work sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
 }